@import url("ft-syntax-highlight.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 15vh 80vh 20vh;
  grid-template-areas:
    "header header"
    "base base"
    "footer footer";
}

.header {
  background-color: red;
  grid-area: header;
}

.sidebar {
  background-color: grey;
  grid-area: sidebar;
}

.base {
  background-color: green;
  grid-area: base;
}

.footer {
  background-color: blue;
  grid-area: footer;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.snippets {
  display: flex;
  flex-direction: column;
}

.home-link,
.create-link {
  text-decoration: none;
  color: white;
  margin: 1rem;
}

.snippet-form {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.snippet {
  display: flex;
  flex-direction: column;
}

.category-dropdown {
  display: flex;
  flex-direction: column;
}

.category-input {
  display: flex;
  flex-direction: column;
}

.button {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}

.box {
  display: flex;
  flex-direction: row;
}

.snippets-list {
}

.snippets {
  background-color: teal;
  width: 75vw;
  overflow: scroll;
  height: 607px;
  text-align: center;
}

.categories {
  background-color: thistle;
  text-align: center;
  width: 25vw;
  height: 85vh;
  margin: 0 auto;
  overflow: scroll;
}

.search-snippet {
  border: none;
}

.btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  padding: 1em;
  border-radius: 0.2rem;
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
  background-color: grey;
}

.cat-btn {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  width: 250px;
  height: 50px;
  border-radius: 0.2rem;
  margin: 1rem;
  transition: transform 0.2s;
}

.cat-btn:hover {
  transform: scale(1.3);
  background-color: grey;
  cursor: pointer;
}

.cat-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.search-snippet {
  width: 400px;
  height: 40px;
  border-radius: 0.2rem;
  margin: 1rem;
  padding-left: 1rem;
}

.snippet-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 150px;
  grid-gap: 4rem;
  width: 70vw;
  margin: 3.5rem;
  height: 85vh;
}

.snippet-title,
.snippet-description {
  text-decoration: none;
  text-align: center;

  color: white;
}

.snippet-form {
  width: 100vw;
  margin: 0 auto;
}

.header-title {
  margin: 1.5rem;
}

.snippet-item {
  background-color: red;
  width: 30vw;
  height: 20vh;
  transition: transform 0.2s;
  border-radius: 0.2rem;
  padding: 1em;
}

.snippet-item:hover {
  transform: scale(1.1);
  background-color: grey;
  cursor: pointer;
}

.snippet-detail {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
}

.go-back-btn {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start; */
  margin-left: 1rem;
  transition: transform 0.2s;
}

.delete-btn {
  transition: transform 0.2s;
}

.go-back-btn:hover {
  transform: scale(1.1);
}

.delete-btn:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  justify-content: space-between;
  height: 20vh;
}

.category {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.delete-cat {
  border: none;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.2em;
  border-radius: 0.2rem;
  cursor: pointer;
  width: 5vw;
  margin-left: 15rem;
  background-color: red;
}

.all {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 2.7rem;
}
